<nav class="flex justify-between items-center fixed w-full top-0 px-10 shadow-md h-[80px] bg-white z-50">
    <div>
        <a routerLink="/">
            <img src="../../../assets/mongodblogo.jpg" alt="Logo Nav" class="w-[100px]">
        </a>
    </div>
    <ul class="flex items-center gap-5">
        <!-- Mencegah link untuk home ke higtlight secara default. pakai routerlinkactive options -->
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Home</a>
        <li class="hover:text-gray-600"><a routerLinkActive="active" routerLink="/users">Users</a></li>
        <li  class="hover:text-gray-600"><a routerLinkActive="active" routerLink="/comments">Comments</a></li>
        <li  class="hover:text-gray-600"><a routerLinkActive="active" routerLink="/posts">Posts</a></li>
        <li  class="hover:text-gray-600"><a routerLinkActive="active" routerLink="/photos">Photos</a></li>
        <li  class="hover:text-gray-600"><a routerLinkActive="active" routerLink="/albums">Albums</a></li>
        <li  class="hover:text-gray-600"><a routerLinkActive="active" routerLink="/todos">Todos</a></li>
    </ul>
</nav>